//colors
    $color1 :#ff0000;
    $color2 :#ffffff;
    $color3 :#000000;
    $colorT :#505050;
//colors
//p
    $textSize:100%;
    $textWeight:200;
    $textLine:125%;
    $textTransf:none;
//p
//h1,h2
    $titleSize:$textSize *4.5;
    $titleWeight:$textWeight *4;
    $titleLine:$textLine *0.8;
    $uppercase: uppercase;
    $textTransf:none;
//h1,h2
//h3,h4
    $stitleSize:$textSize *1.2;
    $stitleWeight:$textWeight *1.5;
    $stitleLine:$textLine *1;
//h3,h4
//a
    $navSize:$textSize *2;
    $navWeight:$textWeight *1;
    $navLine:$textLine *2;
//a

//HACER FUNCIONAR FUNCIONES

